:root {
  --text-black: #101828;
  --text-color: #667085;
  --main-color: #8e2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  height: 80px;
  padding: 0px 32px;
}

.menu-paginas ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.botoes ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.cadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;
  border: 1px solid #8e2424;
  background: #8e2424;
  border-radius: 8px;
}

.cadastrar a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

/***************** CABEÇALHO *****************/
.cabecalho-container {
  width: 100%;
  height: 407px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 96px 0px;
}

span {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
}

.cabecalho-container h2 {
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #101828;
}

.cabecalho-container-p {
  display: flex;
  width: 792px;
  height: 83px;
  padding: 12px 0px 0px;
}

.cabecalho-container-p p {
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
}

/***************** METRICAS *****************/

.metricas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 96px;
  width: 100%;
  height: 288px;
}

.metricas-content {
  display: flex;
  gap: 32px;
}

.metrica {
  display: flex;
  flex-direction: column;
  height: 168px;
  gap: 20px;
}

.metrica h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

.metrica h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text-black);
}

.metrica p {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: var(--text-color);
  height: 48px;
  width: 280px;
}

/***************** VAGAS *****************/

.vagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;

  width: 100%;
  height: 1798px;
}

.talentos {
  height: 602px;
}

.vagas-container {
  display: flex;
  justify-content: center;
  padding: 0px 32px;
  height: 138px;
  left: 80px;
  top: 96px;
}

.vagas-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vagas-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.vagas-texto span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  height: 28px;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
}

.vagas-texto p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.talentos img {
  padding-top: 64px;
}
